
<!DOCTYPE html>
{% load static i18n %}
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow, noodp">
  <meta name="googlebot" content="index, follow">
  <meta name="google" content="notranslate">
  <title>
    Торты на заказ в Ташкенте | Цены и фото | Большой каталог товаров
  </title>
  <link rel="stylesheet" href="{% static 'style/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" href="{% static 'style/media.css' %}">


  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</head>

<body>
  <header class="header" id="header">
    <div class="container-fluid">
      <nav class="navbar header__nav">
        <div class="header__logo">
          <a class="header__logo logo" href="/"><img src="{{ logo.image.url }}" alt="лого" class="logo-img" /></a>
        </div>
        <div class="header__menu">
          <ul class="navbar-nav menu">
            <li class="nav-item active">
              <a class="menu__link" href="{% url 'cakeapp:product_filter' %}">{% trans "To'rtlar" %}</a>
            </li>
            <li class="nav-item">
              <a class="menu__link" href="{% url 'cakeapp:fillings' %}">{% trans "Nachinka" %}</a>
            </li>
            <li class="nav-item">
              <a class="menu__link" href="{% url 'cakeapp:delivery' %}">{% trans "Yetkazib berish" %}</a>
            </li>
            <li class="nav-item">
              <a class="menu__link" href="{% url 'cakeapp:portfolio' %}">{% trans "Qilgan ishlarimiz" %}</a>
            </li>
            <li class="nav-item">
              <a class="menu__link" href="{% url 'cakeapp:cantact' %}">{% trans "Kantakt" %}</a>
            </li>
          </ul>
        </div>
        <div class="contacts d-flex align-items-center">
          <div class="contacts__desc">
            <a href="tel:{{ cantact.number }}" class="contacts__phone">{{ cantact.number }}</a>
            <p class="contacts__info">{% trans "Ish vaxtimiz 10:00 dan 20:00 gacha" %}</p>
          </div>
          <div class="contacts__link">
            <a href="{{ cantact.instagram }}" class="contacts__link-social">
              <img src="{% static 'img/contact-social/instagram-con.svg' %}" alt="instagram" class="contacts__link-social-img" />
            </a>
            <a href="{{ cantact.telegram }}" class="contacts__link-social">
              <img src="{% static 'img/contact-social/telegram-con.svg' %}" alt="telegram" class="contacts__link-social-img" />
            </a>
          </div>
        </div>
        <div class="
                flex flex-col
                justify-center
                space-y-1
                items-center
                tillarUzbRus
              ">
            <!-- <a href="#" class="header__uzb">UZB</a>
            <a href="#" class="header__rus">РУС</a> -->
        <form class="header__lang" action="{% url 'set_language' %}" method="post">
           {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
          <input name="language" type="hidden" value="uz" />
          <input class="header__lang-link" type="submit" value="Uz" />
        </form>
        <form class="header__lang" action="{% url 'set_language' %}" method="post">
           {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
          <input name="language" type="hidden" value="ru" />
          <input class="header__lang-link" type="submit" value="Ru" />
        </form>
          </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
    </div>
    
  </header>
  <main class="main" id="main">

    {% block content %}


    
    {% endblock %}



  </main>
  <footer class="footer" id="footer">
    <div class="container">
      <div class="footer__content d-flex justify-content-between">
        <div class="footer__content-info footer__content-info-dist">
          <p class="footer__content-title">{% trans "Harakatlanish" %}</p>
          <ul class="footer__content-nav p-0 m-0">
            <li><a href="{% url 'cakeapp:product_filter' %}" class="footer__content-link footer__content-link-dist">{% trans "To'rtlar" %}</a></li>
            <li>
              <a href="{% url 'cakeapp:fillings' %}" class="footer__content-link footer__content-link-dist">{% trans "Nachinka" %}</a>
            </li>
            <li><a href="{% url 'cakeapp:delivery' %}" class="footer__content-link footer__content-link-dist">{% trans "Yetkazib berish" %}</a></li>
            <li><a href="{% url 'cakeapp:portfolio' %}" class="footer__content-link footer__content-link-dist">{% trans "Qilgan ishlarimiz" %}</a></li>
            <li><a href="{% url 'cakeapp:cantact' %}" class="footer__content-link footer__content-link-dist">{% trans "Kantakt" %}</a></li>
          </ul>
        </div>
        <div class="footer__content-info">
          <div class="footer__contacts-content">
            <p class="footer__content-title">{% trans "Kantaktlarimiz" %}</p>
            <ul class="footer__content-nav p-0 m-0">
              <li>
                <p class="footer__content-link footer__content-desc footer__content-link-left">
                  {{ cantact.adress }}
                </p>
              </li>
              <li>
                <a href="tel:{{ cantact.number }}" class="footer__content-link">{{ cantact.number }}</a>
              </li>
              <li>
                <a href="{{ cantact.email }}" class="footer__content-link">{{ cantact.email }}</a>
              </li>
            </ul>
          </div>
          <div class="footer__content-info footer__content-info-margin">
            <p class="footer__content-title-margin">{% trans "Satsial a'loqa" %}</p>
            <div class="footer__social-cent d-flex align-items-center justify-content-start">
              <a href="{{ cantact.instagram }}" class="footer__content-social-link">
                <img src="{% static 'img/contact-social/instagram-con.svg' %}" alt="instagram" class="footer__content-social-img" />
              </a>
              <a href="{{ cantact.telegram }}" class="footer__content-social-link">
                <img src="{% static 'img/contact-social/telegram-con.svg' %}" alt="telegram" class="footer__content-social-img" />
              </a>
            </div>
          </div>
        </div>
        <div class="footer__logo d-flex align-items-center">
          <a href="/">
            <a class="header__logo logo" href="/"><img src="{{ logo.image.url }}" alt="лого" class="logo-img" /></a>
          </a>
        </div>
      </div>
    </div>
  </footer>






  <script>
    const loadBtn = document.getElementById('btn-filling');
    const spinner = document.getElementById('spinner-filling');
    const total = JSON.parse(document.getElementById('json-total').textContent);
    const alert = document.getElementById('alert-filling');
    
    const loadBtnPort = document.getElementById('btn-portfolio');
    const spinnerPort = document.getElementById('spinner-portfolio');
    const totalPort = JSON.parse(document.getElementById('json-total-port').textContent);
    const alertPort = document.getElementById('alert-portfolio');

    function loadmoreFilling() {
        var _current_item = $('.single_content').length
        const content_container = document.getElementById("content");
        $.ajax({
            url: '{% url "cakeapp:load" %}',
            type: 'GET',
            data: {
                'offset': _current_item
            },
            beforeSend: function () {
                loadBtn.classList.add('not-visible');
                spinner.classList.remove('not-visible'); 
            },
            success: function (response) {
                const data = response.fillings
                spinner.classList.add('not-visible')
                data.map((filling, index) => {

                    if (index%2 == 0) {
                   
                      content_container.innerHTML += `

                                <div class="single_content baked__right d-flex align-items-center justify-content-end">
                                  <div class="baked__info1">
                                    <h4 class="baked__title text-uppercase fw-bold">${filling.name}</h4>
                                    <p class="baked-info">
                                      Состав: ${filling.composition}
                                    </p>
                                  </div>
                                  <div class="baked__left-img">
                                    <img src=${filling.image} alt="" class="baked-img">
                                  </div>
                                </div> `
                              }

                        else {
                          content_container.innerHTML += `
                                <div class="single_content baked__left d-flex align-items-center justify-content-start">
                                  <div class="baked__left-img">
                                    <img src=${filling.image} alt="" class="baked-img">
                                  </div>
                                  <div class="baked__info d-flex flex-column">
                                    <h4 class="baked__title text-uppercase fw-bold">${filling.name}</h4>
                                    <p class="baked-info">
                                      Состав: ${filling.composition}
                                    </p>
                                  </div>
                                </div>` 
                        }

                })
                if (_current_item == total) {
                    
                } else {
                    loadBtn.classList.remove('not-visible');
                }
            },
            error: function (err) {
                console.log(err);
            },
        });
    }



    function loadmorePortfolio() {
      var _current_portfolio_item = $('.single_content_portfolio').length
      const content_container_portfolio = document.getElementById("port-content");
      $.ajax({
          url: '{% url "cakeapp:load" %}',
          type: 'GET',
          data: {
              'offset-portfolio': _current_portfolio_item
          },
          beforeSend: function () {
              loadBtnPort.classList.add('not-visible');
              spinnerPort.classList.remove('not-visible');
          },
          success: function (response) {
              const data = response.portfolio
              console.log(data)
              spinnerPort.classList.add('not-visible')
              data.map((portfolio) => {                 
                content_container_portfolio.innerHTML += `<img src=${portfolio.image}  alt="" class="single_content_portfolio work__content-img m-1" />`

              })
              if (_current_portfolio_item == totalPort) {
                  
              } else {
                loadBtnPort.classList.remove('not-visible');
              }
          },
          error: function (err) {
              console.log(err);
          },
      });
  }

    loadBtn.addEventListener('click', () => {
        loadmoreFilling()
    });

    loadBtnPort.addEventListener('click', () => {
      loadmorePortfolio()
    });
</script>



  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>



