
<!DOCTYPE html>
{% load static i18n %}
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow, noodp">
  <meta name="googlebot" content="index, follow">
  <meta name="google" content="notranslate">
  <title>
    Торты на заказ в Ташкенте | Цены и фото | Большой каталог товаров
  </title>
  <link rel="stylesheet" href="{% static 'style/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" href="{% static 'style/media.css' %}">


  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</head>

<body>
  <header class="header" id="header">
    <div class="container-fluid">
      <nav class="navbar header__nav">
        <div class="header__logo">
          <a class="header__logo logo" href="/"><img src="{{ logo.image.url }}" alt="лого" class="logo-img" /></a>
        </div>
        <div class="header__menu">
          <ul class="navbar-nav menu">
            <li class="nav-item active">
              <a class="menu__link" href="#cakes">Торты</a>
            </li>
            <li class="nav-item">
              <a class="menu__link" href="#baked">Начинки</a>
            </li>
            <li class="nav-item">
              <a class="menu__link" href="{% url 'cakeapp:delivery' %}">Доставка</a>
            </li>
            <li class="nav-item">
              <a class="menu__link" href="#portfolio">Наши работы</a>
            </li>
            <li class="nav-item">
              <a class="menu__link" href="#contact">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="contacts d-flex align-items-center">
          <div class="contacts__desc">
            <a href="tel:+998881599990" class="contacts__phone">+998 (88) 159-99-90</a>
            <p class="contacts__info">график работы с 10:00 до 20:00</p>
          </div>
          <div class="contacts__link">
            <a href="https://www.instagram.com/multi_cake1/?igshid=1dfozn5vmm8uz" class="contacts__link-social">
              <img src="{% static 'img/contact-social/instagram-con.svg' %}" alt="instagram" class="contacts__link-social-img" />
            </a>
            <a href="https://t.me/cook_cakedipush" class="contacts__link-social">
              <img src="{% static 'img/contact-social/telegram-con.svg' %}" alt="telegram" class="contacts__link-social-img" />
            </a>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
    </div>
    
  </header>
  <main class="main" id="main">

    {% block content %}


    
    {% endblock %}



  </main>
  <footer class="footer" id="footer">
    <div class="container">
      <div class="footer__content d-flex justify-content-between">
        <div class="footer__content-info footer__content-info-dist">
          <p class="footer__content-title">Навигация</p>
          <ul class="footer__content-nav p-0 m-0">
            <li><a href="#cakes" class="footer__content-link footer__content-link-dist">Торты</a></li>
            <li>
              <a href="baked.html" class="footer__content-link footer__content-link-dist">Начинки</a>
            </li>
            <li><a href="delivery.html" class="footer__content-link footer__content-link-dist">Доставка</a></li>
            <li><a href="work.html" class="footer__content-link footer__content-link-dist">Наши работы</a></li>
            <li><a href="contact.html" class="footer__content-link footer__content-link-dist">Контакты</a></li>
          </ul>
        </div>
        <div class="footer__content-info">
          <div class="footer__contacts-content">
            <p class="footer__content-title">Контакты</p>
            <ul class="footer__content-nav p-0 m-0">
              <li>
                <p class="footer__content-link footer__content-desc footer__content-link-left">
                  Yunusobod tumani katta xasanboy 4 tor ko'chasi 60-uy
                </p>
              </li>
              <li>
                <a href="tel:+998881599990" class="footer__content-link">+998 (88) 159-99-90</a>
              </li>
              <li>
                <a href="mailto:pastryclub@gmail.com" class="footer__content-link">pastryclub@gmail.com</a>
              </li>
            </ul>
          </div>
          <div class="footer__content-info footer__content-info-margin">
            <p class="footer__content-title-margin">Социальные сети</p>
            <div class="footer__social-cent d-flex align-items-center justify-content-start">
              <a href="https://www.instagram.com/multi_cake1/?igshid=1dfozn5vmm8uz" class="footer__content-social-link">
                <img src="{% static 'img/contact-social/instagram-con.svg' %}" alt="instagram" class="footer__content-social-img" />
              </a>
              <a href="https://t.me/cook_cakedipush" class="footer__content-social-link">
                <img src="{% static 'img/contact-social/telegram-con.svg' %}" alt="telegram" class="footer__content-social-img" />
              </a>
            </div>
          </div>
        </div>
        <div class="footer__logo d-flex align-items-center">
          <a href="index.html">
            <a class="header__logo logo" href="/"><img src="{{ logo.image.url }}" alt="лого" class="logo-img" /></a>
          </a>
        </div>
      </div>
    </div>
  </footer>






  <script>
    // var _current_item = $('.single_content').length
    // console.log(_current_item);
    const loadBtn = document.getElementById('btn');
    const spinner = document.getElementById('spinner');
    const total = JSON.parse(document.getElementById('json-total').textContent);
    const alert = document.getElementById('alert');

    function loadmorePost() {
        var _current_item = $('.single_content').length
        const content_container = document.getElementById("content");
        $.ajax({
            url: '{% url "cakeapp:load" %}',
            type: 'GET',
            data: {
                'offset': _current_item
            },
            beforeSend: function () {
                loadBtn.classList.add('not-visible');
                spinner.classList.remove('not-visible');
            },
            success: function (response) {
                const data = response.posts
                spinner.classList.add('not-visible')
                data.map((post, index) => {

                    if (index%2 == 0) {
                   
                      content_container.innerHTML += `

                                <div class="single_content baked__right d-flex align-items-center justify-content-end">
                                  <div class="baked__info1">
                                    <h4 class="baked__title text-uppercase fw-bold">${post.name}</h4>
                                    <p class="baked-info">
                                      Состав: ${post.composition}
                                    </p>
                                  </div>
                                  <div class="baked__left-img">
                                    <img src=${post.image} alt="" class="baked-img">
                                  </div>
                                </div> `
                              }

                        else {
                          content_container.innerHTML += `
                                <div class="single_content baked__left d-flex align-items-center justify-content-start">
                                  <div class="baked__left-img">
                                    <img src=${post.image} alt="" class="baked-img">
                                  </div>
                                  <div class="baked__info d-flex flex-column">
                                    <h4 class="baked__title text-uppercase fw-bold">${post.name}</h4>
                                    <p class="baked-info">
                                      Состав: ${post.composition}
                                    </p>
                                  </div>
                                </div>` 
                        }

                })
                if (_current_item == total) {
                    alert.classList.remove('not-visible');
                } else {
                    loadBtn.classList.remove('not-visible');
                }
            },
            error: function (err) {
                console.log(err);
            },
        });
    }
    loadBtn.addEventListener('click', () => {
        loadmorePost()
    });
</script>



  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>








{% comment %} : content_container.innerHTML += `
                                <div class="single_content baked__left d-flex align-items-center justify-content-start">
                                  <div class="baked__left-img">
                                    <img src=${post.image.url} alt="" class="baked-img">
                                  </div>
                                  <div class="baked__info d-flex flex-column">
                                    <h4 class="baked__title text-uppercase fw-bold">${post.name}</h4>
                                    <p class="baked-info">
                                      Состав: ${post.composition}
                                    </p>
                                  </div>
                                </div>` {% endcomment %}
