{% extends 'base.html' %}
{% load static i18n %}
{% block content %}


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Торты на заказ в Ташкенте | Цены и фото | Большой каталог товаров
    </title>
  <link rel="stylesheet" href="{% static 'style/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" href="{% static 'style/media.css' %}">

    <main class="main" id="main">
        <section class="article">
            <div class="container">
                <h2 class="article__title title">{% trans "Yetkazib berish" %}</h2>
                <div class="article__content">
                    <div class="article__content-block d-flex align-items-center">
                        <img src="{% static 'img/delivery/1.jpg' %}" alt="">
                        <div class="article__content-info">
                            <h3 class="article__content-block-title">{% trans "O'z vaqtida yetkazib berish" %}</h3>
                            <p class="article__content-block-desc mb-0">{% trans "Buyurtmani joylashtirilgandan so'ng, menejerimiz buyurtma tasdiqlash va barcha tafsilotlarni muhokama qilish uchun imkon qadar tezroq siz bilan bog'lanadi." %}</p>
                        </div>
                    </div>
                    <div class="article__content-block d-flex align-items-center">
                        <img src="{% static 'img/delivery/2.jpg' %}" alt="">
                        <div class="article__content-info">
                            <h3 class="article__content-block-title">{% trans "Olib ketish" %}</h3>
                            <p class="article__content-block-desc mb-0">
                             {% trans "Tortni tayyorlab bo'lgach, menejerimiz siz bilan bog'lanadi, shunda siz o'zingizga qulay vaqtda tortni olib ketishingiz mumkin." %}   </p>
                        </div>
                    </div>
                    <div class="article__content-block d-flex align-items-center">
                        <img src="{% static 'img/delivery/3.jpg' %}" alt="">
                        <div class="article__content-info">
                            <h3 class="article__content-block-title">{% trans "KURYER ORQALI YETKAZISH" %}</h3>
                            <p class="article__content-block-desc mb-0">
                              {% trans " To'rtlarni yetkazib berish har kuni dam olish va bayramlarsiz soat 10:00 dan 20:00 gacha amalga oshiriladi. Toshkent shahri bo'ylab yetkazib berish bepul." %} </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="payment">
            <div class="container">
                <div class="payment__content">
                    <h2 class="payment__title article__title title">{% trans "To'lov turlari" %}</h2>
                    <div class="payment__content-article">
                        <div class="payment__content-block d-flex flex-wrap align-items-center justify-content-between">
                            <div class="payment__content-block-info">
                                <h3 class="payment__content-block-title">uz card</h3>
                                <p class="payment__content-block-desc">
                                  {% trans "Xarid qilingan maxsulotlar uchun terminal orqali to'lov qilishingiz mumkun" %}
                                </p>
                            </div>
                            <img src="{% static 'img/uzcard.png' %}" alt="" class="payment__img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment__line"></div>
            <div class="container ">
                <div class="payment__content-article">
                    <div class="payment__content-block d-flex flex-wrap align-items-center justify-content-between">
                        <div class="payment__content-block-info">
                            <h3 class="payment__content-block-title">payme, click</h3>
                            <p class="payment__content-block-desc">
                               {% trans "Siz xarid qilingan tovarlar uchun mahalliy to'lov tizimlaridan foydalangan holda to'lashingiz mumkin" %}
                            </p>
                        </div>
                        <div class="payment__content-img">
                            <img src="{% static 'img/payme.png' %}" alt="" class="payment__img payment__img-dist d-block mb-1">
                            <img src="{% static 'img/click.png' %}" alt="" class="payment__img payment__img-dist d-block">
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment__line"></div>
            <div class="container">
                <div class="payment__content-article">
                    <div class="payment__content-block d-flex flex-wrap align-items-center justify-content-between">
                        <div class="payment__content-block-info">
                            <h3 class="payment__content-block-title"> {% trans "Naxt ko'rinishda" %}</h3>
                            <p class="payment__content-block-desc">
                                {% trans "Siz sotib olingan tovarlar uchun naqd pul bilan to'lashingiz mumkin" %}
                            </p>
                        </div>
                        <img src="{% static 'img/dollar.svg' %}" alt="" class="payment__img payment__img-margin">
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

    </main>


  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>



