{% extends 'base.html' %}
{% load static i18n %}
{% block content %}

    <div class="header__info">
      <div class="header__info-content container">
          <h1 class="header__title">Выпечка и Доставка тортов в ташкенте</h1>
          <div class="header__content">
              <p class="header__content-desc">
                  Индивидуальный подход к каждому клиенту
              </p>
              <p class="header__content-desc">Большой ассортимент</p>
              <p class="header__content-desc">Бесплатная доставка по городу Ташкент</p>
          </div>
      </div>
    </div>


    <section class="product" id='cakes'>
      <div class="container">
        <h2 class="product__title title">наша продукция</h2>

       
        <div class="tabs__content d-flex flex-wrap justify-content-between">
          {% for cake in cakes %}
          <div class="tabs__content-block">
            <div class="tabs__content-block-img position-relative">
              <a href="product.html" class="tabs__content-link">
                <img src="{{ cake.image.url }}" alt="" class="tabs__content-img" />
                <a href="{% url 'cakeapp:product_list' cake.id %}" class="look">Смотреть больше <span class="look__border"></span></a>
              </a>
            </div>
            <div class="tabs__content-article">
              <h3 class="tabs__content-article-title tabs__content-article-dist">{{ cake.name }}</h3>
            </div>
          </div>
          {% endfor %}
        </div>
       
      </div>
    </section>




<!-- ******************************************************************************************************************************************* -->



    <section class="baked" id="baked">
      <div class="container">
        <h2 class="product__title title">Выпечка любой сложности на заказ</h2>

        <div class="container">
          <div class="content" id="content">
      
              {% for filling in fillings %}

              {% if forloop.counter|divisibleby:2 %}

              <div class="single_content baked__right d-flex align-items-center justify-content-end">
                <div class="baked__info1">
                  <h4 class="baked__title text-uppercase fw-bold">{{ filling.name }}</h4>
                  <p class="baked-info">
                    Состав: {{ filling.composition }}
                  </p>
                </div>
                <div class="baked__left-img">
                  <img src="{{ filling.image.url }}" alt="" class="baked-img">
                </div>
              </div> 

              {% else %}

            <div class="single_content baked__left d-flex align-items-center justify-content-start">
              <div class="baked__left-img">
                <img src="{{ filling.image.url }}" alt="" class="baked-img">
              </div>
              <div class="baked__info d-flex flex-column">
                <h4 class="baked__title text-uppercase fw-bold">{{ filling.name }}</h4>
                <p class="baked-info">
                  Состав: {{ filling.composition }}
                </p>
              </div>
            </div>

            {% endif %}

          {% endfor %}

          </div>
          <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner-filling">
              <span class="sr-only">Loading...</span>
          </div>
          <div class="load-more__btn mt-3" id="btn-filling">
              <button type="button" class="load-button btn btn-success">Yana</button>
          </div>
          <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert-filling'>
              No more post to load!!
          </div>
      </div>
      {{total_fillings|json_script:"json-total"}}

      </div>

    </section>



    <section class="delivery">
      <div class="container">
        <h2 class="delivery__title title">доставка</h2>
        <div class="delivery__info d-flex flex-wrap justify-content-around">
          <div class="delivery__info-content d-flex flex-column align-items-center">
            <img src="{% static "img/delivery/1.jpg" %}" alt="" class="delivery__info-img " />
            <h3 class="delivery__info-title">своевременная доставка</h3>
          </div>
          <div class="delivery__info-content d-flex flex-column align-items-center">
            <img src="{% static "img/delivery/2.jpg" %}" alt="" class="delivery__info-img " />
            <h3 class="delivery__info-title">самовывоз</h3>
          </div>
          <div class="delivery__info-content d-flex flex-column align-items-center">
            <img src="{% static "img/delivery/3.jpg" %}" alt="" class="delivery__info-img " />
            <h3 class="delivery__info-title">доставка курьером</h3>
          </div>
        </div>
      </div>
    </section>



<!-- ******************************************************************************************************************************************* -->


    <section class="work" id='portfolio'>
      <div class="container">
        <h2 class="work__title delivery__title title align-items-center">наши работы</h2>
        <!-- <img src="{% static 'img/our-work/1.png' %}" alt="наши работы" class="work__img" /> -->
        <div class="work__content">
          <section class="main_content d-flex flex-wrap justify-content-between">
             <!-- <img src="{% static 'img/our-work/2.png' %}" alt="" class="work__content-img" /> -->


             <div class="container">
              <div class="content" id="port-content">
                  {% for port in portfolio %}
                 
                    <img src="{{ port.image.url }}" alt="" class="single_content_portfolio work__content-img m-1" />
               
                  {% endfor %}
              </div>
              <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner-portfolio">
                  <span class="sr-only">Loading...</span>
              </div>
              <div class="load-more__btn mt-3" id="btn-portfolio">
                <button type="button" class="load-button btn btn-success">Yana</button>
              </div>
              <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert-portfolio'>
                  No more post to load!!
              </div>
          </div>
          {{total_portfolio|json_script:"json-total-port"}}
 


             



            {% comment %} {% for work in portfolio %}

            <div class=''> 

            
              <img src="{{ work.image.url }}" alt="" class="work__content-img" />

            </div>

            {% endfor %} {% endcomment %}
       

          </section>
        </div>
      </div>
    </section>




<!-- ******************************************************************************************************************************************* -->





    <section class="contact" id='contact'>
      <div class="contact__content d-flex flex-wrap align-items-center">
        <iframe class="contact__content-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.2733213795123!2d69.28412141479629!3d41.36814610515181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bb93698a547%3A0x9cbe22c61711b250!2z0KLQvtGA0YLRiyDQvdCwINC30LDQutCw0Lcg0LIg0KLQsNGI0LrQtdC90YLQtS4g0KHQstCw0LTQtdCx0L3Ri9C1INGC0L7RgNGC0YssINCU0LXRgtGB0LrQuNC1INGC0L7RgNGC0Ysg0L7RgiBMZWFtb3I!5e0!3m2!1sru!2s!4v1612605697061!5m2!1sru!2s"
          width="50%" height="650px" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false"
          tabindex="0">
        </iframe>
        <div class="contact__content-info">
          <h2 class="contact__title title">График работы</h2>
          <div class="contact__content-block">
            <p class="contact__content-desc">
              Режим работы:
              <span class="contact__content-desc-size">с 10:00 до 20:00</span>
            </p>
            <p class="contact__content-desc">
              Контакты:
              <a href="+998881599990" class="contact__content-desc-size contact__content-desc-color">+998 (88)
                159-99-90</a>
            </p>
            <p class="contact__content-desc">
              Адрес:
              <span class="contact__content-desc-size">Yunusobod tumani katta xasanboy 4 tor ko'chasi 60-uy</span>
            </p>
            <div class="contact__social">
              <p class="contact__content-social">Социальные сети</p>
              <a href="https://www.instagram.com/multi_cake1/?igshid=1dfozn5vmm8uz"
                class="contact__content-social-link">
                <img src="{% static 'img/contact-social/instagram-con.svg' %}" alt="instagram" class="contact__content-social-img" />
              </a>
              <a href="https://t.me/cook_cakedipush" class="contact__content-social-link">
                <img src="{% static 'img/contact-social/telegram-con.svg' %}" alt="telegram" class="contact__content-social-size" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>





<!-- ******************************************************************************************************************************************* -->



{% endblock %}
