{% extends 'base.html' %}
{% load static i18n %}
{% block content %}





{% comment %} 
<!-- Tab links -->
    <div class="tab">
        {% for caketype in caketypes %}
        <button class="tablinks" onclick="openCity(event, '{{ caketype.name }}')">{{ caketype.name }}</button>
        {% endfor %}
    </div>
  
  <!-- Tab content -->
  {% for product in cakeproduct %}
  <div id="London" class="tabcontent">
    <h3>{{product.name}}</h3>
    <p>London is the capital city of England.</p>
  </div>
  {% endfor %} {% endcomment %}



<section class="product" id='cakes'>
    <div class="container">
                <div class="tabs">
                    <div class="tabs__content d-flex flex-wrap justify-content-between">
                        {% for caketypee in caketypes %}
                        <a href="{% url 'cakeapp:product_list' caketypee.id %}" class="tabs__control {% if caketypee.id == caketype.id %} caketypetabs__control-det tabs__control-active {% endif %} ">{{ caketypee.name }}</a>
                        {% endfor %}
                    </div>
                </div>
        </br>

        <h2 class="product__title title product__title-dist">{{ caketype.name }}</h2>
        <div class="tabs__content-active tabs__content-active-block" id="content-product">
            {% for cake in cakeproduct %}
            <div class="single_product tabs__content d-flex flex-wrap justify-content-between">
                <div class="tabs__content-block">
                    <div class="tabs__content-block-img">
                        <a href="" class="tabs__content-link">
                            <img src="{{ cake.image.url }}" alt="" class="tabs__content-img">
                            <a href="{% url 'cakeapp:product' cake.id %}" class="look">{% trans "Buyurtma" %}</a>
                        </a>
                    </div>
                    <div class="tabs__content-article">
                        <h3 class="tabs__content-article-title">{{ cake.name }}</h3>
                        <p class="tabs__content-article-desc">{{ cake.price_for_kg }} сум за 1 кг</p>
                    </div>
                </div>
            </div>            
            {% endfor %}
            <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner-product">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="load-more__btn mt-3" id="btn-product">
                <button type="button" class="load-button btn btn-success">{% trans "Yana" %}</button>
            </div>
            <div class="alert alert-danger mt-2 not-visible" role="alert" id="alert-product">
                {% trans "Boshqa qolmadi" %}
            </div>
        </div>
        {{total_fillings|json_script:"json-total-product"}}
    </div>
</section>





<script>
    const loadBtnProd = document.getElementById('btn-product');
    const spinnerProd = document.getElementById('spinner-product');
    const totalProd = JSON.parse(document.getElementById('json-total-product').textContent);
    const alertProd = document.getElementById('alert-product');


    function loadmoreProduct() {
        var _current_item = $('.single_product').length
        const content_container = document.getElementById("content-product");
        $.ajax({
            url: '{% url "cakeapp:load" %}',
            type: 'GET',
            data: {
                'offset-product': _current_item
            },
            beforeSend: function () {
                loadBtnProd.classList.add('not-visible');
                spinnerProd.classList.remove('not-visible'); 
            },
            success: function (response) {
                const data = response.fillings
                spinnerProd.classList.add('not-visible')
                data.map((filling, index) => {

                   
                      content_container.innerHTML += `

                      <div class="single_product tabs__content d-flex flex-wrap justify-content-between">
                        <div class="tabs__content-block">
                            <div class="tabs__content-block-img">
                                <a href="" class="tabs__content-link">
                                    <img src="{{ cake.image.url }}" alt="" class="tabs__content-img">
                                    <a href="{% url 'cakeapp:product' cake.id %}" class="look">{% trans "Buyurtma" %}</a>
                                </a>
                            </div>
                            <div class="tabs__content-article">
                                <h3 class="tabs__content-article-title">{{ cake.name }}</h3>
                                <p class="tabs__content-article-desc">{{ cake.price_for_kg }} сум за 1 кг</p>
                            </div>
                        </div>
                    </div> `

                })
                if (_current_item == totalProd) {
                    
                } else {
                    loadBtnProd.classList.remove('not-visible');
                }
            },
            error: function (err) {
                console.log(err);
            },
        });
    }


    loadBtnProd.addEventListener('click', () => {
        loadmoreProduct()
    });

</script>




{% endblock %}

