{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
  <title>{% block title %}
    Bolalar uchun to'rt | To'y marosimlari uchun to'rtlar | barcha turdagi to'rtlar
  {% endblock %}</title>

<style>
    .pagination {
        display: flex;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .pagination a {
        text-decoration: none;
    }
    
    .pagination-number {
        padding: 12px 17px;
        color: #fff;
        background-color: #F67B90;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        margin: 4px;
    }
    
    .pagination-number:hover,
    .pagination-current {
        background-color: #FF3759;
    }
    
    .pagination-action {
        margin: 0 2px;
        display: flex;
        padding: 1px 2px;
        color: #fff;
        font-size: 1.3em;
        align-items: center;
    }
    
    .pagination-action:hover,
    .pagination-previous,
    .pagination-next {
        color: #F67B90;
    }

</style>



{% comment %} 
<!-- Tab links -->
    <div class="tab">
        {% for caketype in caketypes %}
        <button class="tablinks" onclick="openCity(event, '{{ caketype.name }}')">{{ caketype.name }}</button>
        {% endfor %}
    </div>
  
  <!-- Tab content -->
  {% for product in cakeproduct %}
  <div id="London" class="tabcontent">
    <h3>{{product.name}}</h3>
    <p>London is the capital city of England.</p>
  </div>
  {% endfor %} {% endcomment %}



<section class="product" id="cakes">
    <div class="container">
                <div class="tabs">
                    <div class="tabs__content d-flex flex-wrap justify-content-between">
                        {% for caketypee in caketypes %}
                        <a href="{% url 'cakeapp:product_list' caketypee.id %}" class="tabs__control {% if caketypee.id == caketype.id %} caketypetabs__control-det tabs__control-active {% endif %} ">{{ caketypee.name }}</a>
                        {% endfor %}
                    </div>
                </div>
        </br>

        <h2 class="product__title title product__title-dist">{{ caketype.name }}</h2>
        <div class="tabs__content-active tabs__content-active-block" id="content-product">
            
            <div class="single_product tabs__content d-flex flex-wrap justify-content-between">
                {% for cake in cakeproduct %}
                <div class="tabs__content-block">
                    <div class="tabs__content-block-img">
                        <a href="" class="tabs__content-link">
                            <img src="{{ cake.image.url }}" alt="" class="tabs__content-img">
                            <a href="{% url 'cakeapp:product' cake.id %}" class="look">{% trans "Buyurtma" %}</a>
                        </a>
                    </div>
                    <div class="tabs__content-article">
                        <h3 class="tabs__content-article-title">{{ cake.name }}</h3>
                        <p class="tabs__content-article-desc">{{ cake.price_for_kg }} сум за 1 кг</p>
                    </div>
                </div>
                {% endfor %}
            </div>            
            
        </div>
    </div>
</section>



<div class="pagination">
    {% if cakeproduct.has_previous %}
    <a class="pagination-action" href="?page=1">
        <i class='bx bx-chevrons-left' aria-hidden="true"></i> </a>
    <a class="pagination-action" href="?page={{ cakeproduct.previous_page_number }}">
        <i class='bx bx-chevron-left' aria-hidden="true"></i>
    </a>
    {% endif %}
    {% for num in cakeproduct.paginator.page_range %}
        {% if cakeproduct.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > cakeproduct.number|add:'-3' and num < cakeproduct.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if cakeproduct.has_next %}
        <a class="pagination-action" href="?page={{ cakeproduct.next_page_number }}">
            <i class='bx bx-chevron-right' aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ cakeproduct.paginator.num_pages }}">
            <i class='bx bx-chevrons-right' aria-hidden="true"></i>
        </a>
    {% endif %}
</div>




{% endblock %}

