{% extends 'base.html' %}
{% load static i18n %}
{% block content %}




    
<main class="main">
    <section class="order">
        <div class="container">
            <div class="order__info">
                <div class="order__content d-flex flex-wrap justify-content-center">
                    <div class="order__content-img col-xl-5">
                        <img src="{{ cake.image.url }}" alt="" class="order__img w-100">
                        <div class="order__content-img-info">
                            <p class="order__content-img-title">{% trans "Narxi" %} : <span class="order__content-img-size">{{ cake.price_for_kg }}
                                    {% trans "sum 1 kg uchun" %}</span></p>
                            <p class="order__content-img-desc">*{% trans "minimal buyurtma" %} {{ cake.min_amount_kg }} кг</p>
                        </div>
                    </div>
                    <div class="order__content-info col-xl-5">
                        <h3 class="order__content-info-title"></h3>
                        <form action="" class="order-form" method="POST">
                            {% csrf_token %}
                            <input class="order-photo" type="name" name="cake" value="{{ cake.id }}" hidden>
                            <div class="order__content-zav">
                                <label for="date" class="order__content-info-subtitle">{% trans "Qaysi sanaga tayyor bo'lsin" %}</label>
                                <input type="text" id="date" class="order-info order__content-info-bt"
                                    placeholder="01.02.2021" name='date' required>
                            </div>
                            <div class="order__content-zav">
                                <label for="number" class="order__content-info-subtitle">{% trans "Raqamingizni qoldiring" %}</label>
                                <input type="text" id="number" class="order-info order__content-info-bt"
                                    placeholder="+998 90 125 70 07" name='number' required>
                            </div>
                            <div class="order__content-zav">
                                <label for="how_many_kg" class="order__content-info-subtitle">{% trans "Necha kg" %}</label>
                                <input type="text" id="how_many_kg" class="order-info order__content-info-bt" placeholder="1-12"
                                name='how_many_kg'required>
                            </div>
                            <div class="order__content-zav">
                                <label for="filling" class="order__content-info-subtitle">{% trans "Nachinkani tanlang" %}</label>
                                <select id="filling" class="order-info order__content-info-bt order__content-info-size" name='filling'>
                                    {% for filling in fillings %}
                                    <option value="{{ filling.id }}">{{ filling }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="order__content-zav">
                                <label for="writing" class="order__content-info-subtitle">{% trans "To'rt uchun yozuv" %}</label>
                                <input type="text" id="writing" class="order-info order__content-info-bt"
                                    placeholder="Введите надпись" name='writing' required>
                            </div>
                            
                            <div class="order__content-zav">
                                <label for="type_of_delivery" class="order__content-info-subtitle">{% trans "Yetkazish turi" %}</label>
                                <select id="type_of_delivery" class="order-info order__content-info-bt order__content-info-size" name='type_of_delivery'>
                                    <option value="1">{% trans "Olib ketish" %}</option>
                                    <option value="2">{% trans "Yetkazib berish" %}</option>
                                </select>
                            </div>
                            <button type="submit" class="contact__information-phone-link order__btn ">{% trans "Buyurtma berish" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>







{% endblock %}
